li {
    list-style: none;
}
a {
    text-decoration: none;
    transition: color 0.3s ease;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #f4f4f4;
    font-family: "PT Root UI";
    transition: background-color 0.6s ease;
}

.container {
    max-width: 1160px;
    margin: auto;
    width: 100%;
}
input, textarea, select {
    -webkit-appearance: none;
    }
.scroll-off {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.dark {
    background-color: #000;
}
.invert-off {
    filter: invert(0) !important;
}
.invert-on {
    filter: invert(1) !important;
}
